/* KoddiUD 온고딕 */
@font-face {
  font-family: "KoddiUDOnGothic";
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/KoddiUDOnGothic-ExtraBold.woff2) format("woff2"),
    url(../assets/fonts/KoddiUDOnGothic-ExtraBold.woff) format("woff"),
    url(../assets/fonts/KoddiUDOnGothic-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "KoddiUDOnGothic";
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/KoddiUDOnGothic-Bold.woff2) format("woff2"),
    url(../assets/fonts/KoddiUDOnGothic-Bold.woff) format("woff"),
    url(../assets/fonts/KoddiUDOnGothic-Bold.otf) format("opentype");
}

@font-face {
  font-family: "KoddiUDOnGothic";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/KoddiUDOnGothic-Regular.woff2) format("woff2"),
    url(../assets/fonts/KoddiUDOnGothic-Regular.woff) format("woff"),
    url(../assets/fonts/KoddiUDOnGothic-Regular.otf) format("opentype");
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "KoddiUDOnGothic", "Apple SD Gothic Neo", sans-serif;
  color: #333;
}

html,
body,
#app {
  height: 100%;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
