.list {
  margin-top: 2px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  list-style: none;
  padding: 0;
}

.success {
  margin: 10px 8px;
  font-family: initial;
  font-size: 18px;
  color: #008000;
}

.caution {
  margin: 10px 8px;
  font-family: initial;
  font-size: 18px;
  color: #ff8a65;
}

.warning {
  margin: 10px 8px;
  font-family: initial;
  font-size: 14px;
  color: #e74c3c;
}
